.body {
	/*fix the size of the box*/
	-webkit-box-sizeing : border-box;
	-mox-box-sizing : border-box;
	box-sizing : border-box;
	position : relative;

	width : 100%;
	height : 70%;

	background-color : #090909;
	font-family : "BernhardFashion BT";
	src : "/font/ENBERNF.TTF";
	color : yellow;

	/* add scroll if context is over height*/
	overflow: auto;
}

.body #photo{
	-webkit-box-sizeing : border-box;
	-mox-box-sizing : border-box;
	box-sizing : border-box;
	position : absolute;
	right : 0;

	width : 100%;
	height : 100%;

	background-color : #090909;
	font-size : 24px;
	text-align : center;
}