html, body{
	min-width : 1000px;
	width : 100%;
	min-height : auto;
	height : 100%;
	margin : 0;
}

/*HEADER SECTION*/
header {
	/*fix the size of the box*/
	-webkit-box-sizeing : border-box;
	-mox-box-sizing : border-box;
	box-sizing : border-box;
	position : relative;
	top : 0;
	width : 100%;
	height : 20%;

	background-image : url("../images/pattern_leaf.jpg");
	background-repeat : repeat-x;
	background-color : black;

	font-family : "BernhardFashion BT";
	font-size : 18px;
	color : white; 
	text-align: right;

	padding-top : 0.2%;
	padding-right : 1%;
}
header #menu {
	-webkit-box-sizeing : border-box;
	-mox-box-sizing : border-box;
	box-sizing : border-box;

	position : absolute;
	left : 4px;
	bottom : 10px;

	text-align : left;
	font-size : 15px;
}
header a:-webkit-any-link {
	display : inline-block;
	text-decoration : none;
	margin-left : 30px;
	color : white;
	cursor : auto;
}

/* CONTENT SECTION */
.body{
	/*fix the size of the box*/
	-webkit-box-sizeing : border-box;
	-mox-box-sizing : border-box;
	box-sizing : border-box;
	position : relative;

	width : 100%;
	height : 80%;

	background-color : #FAFAFA;
	font-family : "BernhardFashion BT";
	color : white;
}

.body #about_me{
	-webkit-box-sizeing : border-box;
	-mox-box-sizing : border-box;
	box-sizing : border-box;
	position : absolute;
	left : 0;

	width : 20%;
	height : 100%;

	color : black;
	text-align : center;
}
.body #about_me img.face{
	-webkit-box-sizeing : border-box;
	-mox-box-sizing : border-box;
	box-sizing : border-box;
	display : block;
	position : absolute;
	top : 5%;
	left : 9%;

	width : 80%;
	height : auto;
	text-align: center;
}
.body #about_me p{margin : 0;}
.body #about_me .info {
	display : inline-block;

	margin-left : auto;
	margin-right : auto;
	position : relative;
	top : 40%;
	font-size : 24px;
}
.body #photo{
	-webkit-box-sizeing : border-box;
	-mox-box-sizing : border-box;
	box-sizing : border-box;
	position : absolute;
	right : 0;
	left : 20%;

	width : 80%;
	height : 100%;

	background-color : #090909;
	font-size : 24px;
	text-align : center;
}

/* FOOTER SECTION */
footer {
	/*fix the size of the box*/
	-webkit-box-sizeing : border-box;
	-mox-box-sizing : border-box;
	box-sizing : border-box;
	position : relative;
	bottom : 10%;

	background-image : url("../images/tropical.jpg");
	background-repeat: repeat-x;
	background-color : black;

	width : 100%;
	height : 10%;

	font-family : "BernhardFashion BT";
	font-size : 20px;
	color : white;
	text-align: center;
}

footer .site {
	position : absolute;
	height : 30px;
	margin: 0 0.5% 0.5% 0;
	bottom : 0;
	right : 0;
}

footer a:-webkit-any-link{
	display : inline-block;
	color: -webkit-link;
	text-decoration : none;
	cursor : auto;
}