html, body{
	min-width : 1200px;
	width : 100%;
	min-height : 96px;
	height : 100%;
	margin : 0;
}

/*HEADER SECTION*/
header {
	-webkit-box-sizeing : border-box;
	-mox-box-sizing : border-box;
	box-sizing : border-box;
	position : relative;
	top : 0;
	width : 100%;
	min-width : 1200px;
	height : 20%;
	min-height : 96px;

	background-image : url("../images/pattern_leaf.jpg");
	background-repeat : repeat-x;
	background-color : black;

	font-family : "BernhardFashion BT";
	src : "/font/ENBERNF.TTF";
	font-size : 18px;
	color : white; 
	text-align: right;

	padding-top : 0.2%;
	padding-right : 1%;
}
header .menu {
	-webkit-box-sizeing : border-box;
	-mox-box-sizing : border-box;
	box-sizing : border-box;

	width : 100%;
	min-width : 1200px;
	height : 20px;

	position : absolute;

	bottom : 10px;

	text-align : left;
	font-size : 15px;
}

header .menu .select {
	position : absolute;
}

header .menu .select {
	position : relative;

}

header .menu a { 
	display : inline-block;
	text-decoration : none;

	margin-left : 30px;
	color : white;
	cursor : default;
}

header .menu .select a:hover {
	color : yellow;
	text-decoration : underline;
}

header .menu .select .quick {
	position : absolute;
	top : 0;
	right : 30px;
	padding : 0;
	margin : 0;
}
header .menu .select li {
	list-style: none;
	padding : 0;
	margin : 0;
}

header .menu .select ul#menu_bar {
	display : none;
}

header .menu .select li:hover ul#menu_bar{
	-webkit-box-sizeing : border-box;
	-mox-box-sizing : border-box;
	box-sizing : border-box;
	display : inline-block;

	width : 150px;
	height : 130px;
	float : right;

	position : absolute;
	right : 0;
	top : 20px;
	z-index : 1;
	text-align: right;
	background-color : #ddd;
	line-height: 30px;

	padding : 5px 8px ;
	margin : 0;
}

/* CONTENT SECTION */
.body{
	-webkit-box-sizeing : border-box;
	-mox-box-sizing : border-box;
	box-sizing : border-box;
	position : relative;

	width : 100%;
	min-width : 1200px;
	height : 70%;
	min-height : 340px;

	background-color : #090909;
	font-family : "BernhardFashion BT";
	src : "/font/ENBERNF.TTF";
	color : white;
}

/* FOOTER SECTION */
footer {
	-webkit-box-sizeing : border-box;
	-mox-box-sizing : border-box;
	box-sizing : border-box;
	position : relative;
	bottom : 0;

	background-image : url("../images/tropical.jpg");
	background-repeat: repeat-x;
	background-color : black;

	width : 100%;
	min-width : 1200px;
	height : 10%;
	min-height : 47px;

	font-family : "BernhardFashion BT";
	src : "/font/ENBERNF.TTF";
	font-size : 20px;
	color : white;
	text-align: center;
}

footer .site {
	-webkit-box-sizeing : border-box;
	-mox-box-sizing : border-box;
	box-sizing : border-box;
	display : inline-block;
	width : 100%;
	height : 30px;

	position : absolute;
	right : 0;
	bottom : 0;

	margin : 0 0.5% 0.5% 0;
}

footer .site a {
	margin-left : 0.5%;
	float : right;
}

footer .site a:-webkit-any-link{
	display : inline-block;
	color: -webkit-link;
	text-decoration : none;
	cursor : default;
}